<%- include("partials/header.ejs") %>
  <h1>About Me</h1>
  <img class="profile" src="images/blue.jpg" alt="cat profile">
  <p>
    Hello, I’m Harshal Lathiya, a BCA student at Kamani Science & Prataprai Arts College, Amreli, with a passion for
    technology
    and software development. I have strong skills in both front-end and back-end development, and I'm well-versed in a
    variety of programming languages and frameworks.

    I am proficient in C++,JavaScript,Node.js,Express.js,PHP,and MySQL,with hands-on experience in creating dynamic
    websites and managing databases.
    My expertise also extends to Git and GitHub, where I effectively use version control to manage and collaborate on
    projects.
    Additionally, I have a strong understanding of HTML5,CSS, and Bootstrap, allowing me to build responsive and
    visually appealing web
    applications.
    With a solid foundation in Data Structures and Software Quality Assurance , I am always eager to improve my
    skills and take on new challenges.
    I am also confident in my critical thinking and presentation skills, which help me communicate ideas effectively and
    work well in team environments.
    Feel free to explore my portfolio, and don't hesitate to reach out if you'd like to collaborate or discuss potential
    opportunities!</p>
  <%- include("partials/footer.ejs") %>