<%- include("partials/header.ejs") %>

  <h1>Home Page</h1>
  <p>
    Welcome to my portfolio!
    <br />
    I’m Harshal Lathiya, a BCA student with a passion for technology and development.
    <br />
    I enjoy working with programming languages and creating projects that solve real-world problems.
  </p>

  <%- include("partials/footer.ejs") %>